*{
  letter-spacing: 1.2px;
}
.fa-plus{
  transition: all 0.3s ease-out;
}

.btn:hover .fa-plus{
  transform: rotate(180deg);
}
.btn:focus{
  outline: none;
}
html,
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
  background-color: #2f3136;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 56px calc(100vh - 56px);
  grid-template-areas:
    'header'
    'main';
}

.grid-header {
  grid-area: header;
}

.grid-main {
  grid-area: main;
}

.header {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  padding: 0px 24px;
}

.welcome {
  color: white;
  cursor: default;
  position: relative;
}
.welcome:hover::after{
  transform: scaleX(1);
}

.welcome::after{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  height: 1.5px;
  width: 101%;
  background: #4687db;
  transform: scaleX(0);
  transition: all 0.3s ease;
  border-radius: 5px;
}

.main {
  padding: 24px;
  height: calc(100% - 48px);
  display: flex;
}

.main span {
  display: flex;
}

.column {
  width: 280px;
  min-width: 280px;
  height: calc(100% - 24px);
  display: flex;
  flex-direction: column;
  background-color: #36393f;
  border-radius: 5px;
  color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  overflow: hidden;
  margin-left: 12px;
}

.column:last-of-type {
  margin-right: 24px;
}

.add-new {
  height: 48px;
}

.column-header {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 12px;
  border-bottom: 1px solid #4687db;
  height: 48px;
}

.column-header .btn {
  background: none;
  border: none;
  color: white;
  width: 32px;
  height: 32px;
  font-size: 1.1rem;
  cursor: pointer;
}

.column-content {
  height: calc(100% - 48px);
  padding: 0px 8px;
  overflow: auto;
}

.column-content .list {
  list-style-type: none;
  padding: 0px;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.1s ease-in-out;
  cursor: pointer;
  margin: 4px 0px;
  border: 1.2px solid rgba(0, 0, 0, 0.342);
  border-radius: 4px;
  padding: 12px;
}

.list-item-content {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.title{
  cursor: default;

}

.list-item-date-info {
  align-items: baseline;
  border-radius: 4px;
}

.list-item-date-ontime {
  background-color: #3a549e;
}

.list-item-date-late {
  background-color: #9e3a3a;
}

.list-item-date-info i {
  margin: 0px 4px;
  padding: 2px;
  box-sizing: border-box;
}

.list-item p {
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 4px 0px;
  max-width: 200px;
  
}

.list-item button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  /* color: rgb(134, 38, 38); */
  color: rgb(70, 135, 219);
  font-weight: bolder;
  font-size: 10pt;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transition: all 0.2s;
  align-self: flex-start;
}
.list-item button:focus {
  outline: none;
}

.list-item button:hover {
  transform: scale(1.2);
  color: rgb(206, 64, 64);
}

.list-item:hover {
  /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); */
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.178);
  transform: scale(1.01);
}

.list-item > div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  border-radius: 50px;
  font-weight: bold;
  background-color: white;
  color: black;
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #bdbdbd;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(92, 91, 91);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.modal {
  background-color: rgba(0, 0, 0, 0.33);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.modal-body {
  background-color: #36393f;
  width: 50%;
  height: 480px;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.13);
  max-width: 380px;
}
.modal-body h1{
  cursor: default;
  position: relative;
}
.modal-body h1:hover::after{
  transform: scaleX(1);
}
.modal-body h1::after{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  height: 2px;
  width: 100%;
  background: #4687db;
  transition: all 0.3s ease;
  border-radius: 5px;
  transform: scaleX(0);
}
.modal-form {
  width: 80%;
}

.modal-form label {
  font-size: 16px;
  font-weight: bold;
}

.modal-input {
  border-radius: 10px;
  border: none;
  border-left: solid 10px #4687db;
  display: block;
  width: 100%;
  padding: 8px 12px;
  box-sizing: border-box;
  font-size: 13pt;
}
.modal-input:focus{
  outline: none;
} 

#logout-btn{
  background-color: #db4646;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.1s ease-out;
  text-decoration: none;
  margin-top: 10px;
}
#logout-btn:hover{
  transform: scale(1.05);
}
#logout-btn:focus{
  outline: none;
}

.modal-btn {
  background-color: #4687db;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.1s ease-out;
}

.modal-btn:hover{
  transform: scale(1.05);
}
.modal-btn:focus{
  outline: none;
}

.modal-btn:not(.cancel-btn):active {
  background-color: #2d66af;
}

.cancel-btn {
  background-color: rgb(161, 59, 59);
}

.vertical-spacer {
  height: 24px;
}

.vertical-spacer-sm {
  height: 12px;
}
